<div class="row"> 
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Preparation</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Python: Installation and Data Download</a></td> </tr>
      <tr> <td>Preparation</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell: Instalation and Data Download</a></td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to Python and Juypter Notebooks</td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>15:00</td>  <td>Automating Tasks wtih the Unix Shell</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END Day 1</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Preparation</td>  <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git Setup</a></td> </tr>
      <tr> <td>09:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td> Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>11:30</td>  <td> Version Control with Git</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>14:30</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END Day 2</td> </tr>
    </table>
  </div>
</div>
<div class="row"> 
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>Preparation</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Python: Installation and Data Download</a></td> </tr>
      <tr> <td>09:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>10:15</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> SBU Cluster SeaWulf</td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>SBU Cluster SeaWulf (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END Day 3</td> </tr>
    </table>
  </div>
</div>
